h1 {
	margin: 10 0 0 10px;
}

#shortner, #twitter {
	padding: 10px;
}

input[type="text"] {
	width: 400px;
}

#saveMessage {
	color: #0f0;
}

#twitterErrorMessage {
	color: #f00;
}

.rounded
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}